<h1>Influencers</h1>

<section>
  <%= link_to "Nuevo influencer",
                new_influencer_path,
                class: "btn btn--primary",
                data: { turbo_frame: :new_influencer, action: "click->dialog#open" } %>

  <%= turbo_frame_tag :new_influencer %>
</section>

<turbo-frame id="influencers_list">
  <table>
    <thead>
      <tr>
        <th>Profile</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Followers</th>
        <th>Platform</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @influencers.each do |influencer| %>
        <tr id="influencer_<%= influencer.id %>">
          <td><img src="<%= influencer.picture %>" alt="<%= influencer.username %>" width="50"></td>
          <td><%= influencer.username %></td>
          <td><%= influencer.fullname %></td>
          <td><%= number_with_delimiter(influencer.followers) %></td>
          <td><%= influencer.platform.capitalize %></td>
          <td>
            <%= button_to "Delete", influencer, method: :delete, data: { turbo_confirm: "Are you sure?", turbo_frame: "influencers_list" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</turbo-frame>

<div id="influencers">

</div>
