<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-10 flex justify-center text-gray-900"><%= t("influencers.index") %></h1>

  <section class="mb-6 flex justify-between items-center">
    <div class="flex-1 justify-self-start">
      <%= render 'search_bar' %>
    </div>
    <div class="flex-none justify-self-end">
      <%= link_to t("influencers.button_new"),
                  new_influencer_path,
                  class: "bg-indigo-600 hover:bg-indigo-500 text-white font-semibold py-4 px-4 rounded-lg shadow",
                  data: { turbo_frame: :new_influencer, action: "click->dialog#open" } %>
      <%= turbo_frame_tag :new_influencer %>
    </div>
  </section>

  <%= turbo_frame_tag :influencers_index do %>
    <%= render "influencers/list", influencers: @influencers %>
    <div class="mt-6">
      <%= paginate @influencers, theme: 'tailwind', influencers: @influencers %>
    </div>
  <% end %>

  <%= turbo_stream_from :influencers_list %>
</div>
